* {
    margin: 0px;
    padding: 0px
}

body {
    background-color: white;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper > .header {
    display: flex;
    height: 10%;
    justify-content: center;
    background-color: black;
    color: white;
}

.wrapper > .main {
    height: 100%;
    background-color: beige;
    justify-content: center;
}

.wrapper > .main > .gallery_wrapper {
    justify-content: center;
}



.wrapper > .main > .gallery_wrapper > .row {
    display: flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper > .main > .gallery_wrapper > .row > .column {
    column-width: auto;
  }

.wrapper > .main > .gallery_wrapper > .column > img {
        vertical-align: middle;
        width: 100%;
}

@media screen and (max-width: 800px) {
    .column.wrapper > .main > .gallery_wrapper > .row > .column         {
      flex: 50%;
      max-width: 50%;
      max-height: 50%;
    }
}


.wrapper > .footer {
    display: flex;
    height: 10%;
    justify-content: center;
    background-color: black;
    color: white;
}